<input type="checkbox" id="chatbot-check">
<div class="chatbot-popup">
    <label class="chat-btn" id="chat-btn" for="chatbot-check">
        <span class="chatbot-popuptext" id="chatbrerie-popup">QUESTIONS ???</span>
        <i class="fa fa-commenting-o comment"></i>
        <i class="fa fa-close close"></i>
    </label>
</div>

<div class="chatbot-wrapper">
    <div class="chatbot-main">
        <div class="px-2 scroll" id="chat-history">
        </div>
        <div id="chatbot-nav">
            <nav class="navbar bg-white navbar-expand-sm d-flex justify-content-start">
                <input type="text number" name="text" class="form-control" id="chatbot-input" placeholder="Écrivez un message...">
                <div class="icondiv d-flex justify-content-end align-content-center text-center ml-2">
                    <button class="btn chatbot-nav-btn" id="chat-send-text">
                        <i class="fa fa-arrow-circle-right icon-send"></i>
                    </button>
                </div>
            </nav>
        </div>
    </div>
</div>
