<div class="d-flex align-items-center">
    <div class="text-left pr-1 align-self-start">
        <img src="{{ botAvatar }}" class="img-chat">
    </div>
    <div class="pr-2 pl-1">
        <span class="chatbot-name">Chatbrerie</span>

        <div id="drug-form-{{id}}">
            <label for="title">Titre du rappel :</label><br>
            <input class="form-control" type="text" id="title" name="title" value=""><br>

            <label for="start_date">Date de début :</label><br>
            <input class="form-control" type="date" id="start-date" name="start-date" value=""><br>

            <label for="end_date">Date de fin :</label><br>
            <input class="form-control" type="date" id="end-date" name="end-date" value=""><br>

            <label for="reccurrence">Tous/Toutes les</label><br>
            <input class="form-control" type="number" min="1" max="100" value="1" id="rec-number">
            <select class="form-select" name="reccurrence" id="reccurrence">
                <option value="day">jour(s)</option>
                <option value="week">semaine(s)</option>
                <option value="month">mois</option>
            </select>

            <button class="btn chatbot-btn text-white" id="{{id}}">Valider</button>
        </div>

    </div>
</div>
