::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

.scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 35em;
}

.img-chat {
    border-radius: 50%;
    width: 3.5em;
    background-color: #66BB6A
}

.chatbot-name {
    font-size: 1em
}

.chatbot-msg {
    max-width: 20em;
    word-wrap: break-word;
    text-align: left;
    background-color: #fff;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 5px;
    font-weight: 500;
    color: #3e3c3c
}

.between {
    font-size: 8px;
    font-weight: 500;
    color: #a09e9e
}

.navbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)*/
}

#chatbot-input {
    font-size: 1.2em;
    font-weight: 400;
    width: 20em;
    height: 3em;
    border: none;
    margin-right: 2em;
}

#chatbot-input:focus {
    box-shadow: none !important;
    overflow: hidden;
    border: none !important
}

#chat-send-text:focus {
    outline: none;
    box-shadow: none;
    background-color: white;
}

.icon-send {
    color: #f59503 !important;
    font-size: 2.5em !important;
    position: relative;
    bottom: 0.5em;
    padding: 0px;
}

.icondiv {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 2px;
    position: relative;
    bottom: 1px
}

.chat-btn {
    position: fixed;
    right: 2em;
    bottom: 1.5em;
    cursor: pointer;
    z-index: 10;
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    transition: all 0.9s ease
}

#chatbot-check:checked~.chat-btn i {
    display: block;
    pointer-events: auto;
    transform: rotate(180deg)
}

#chatbot-check:checked~.chat-btn .comment {
    display: none
}

.chat-btn i {
    font-size: 1.5em;
    color: #fff !important
}

.chat-btn {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #f59503;
    color: #fff;
    font-size: 22px;
    border: none
}

.chatbot-main {
    background-color: #eee;
    width: 30em;
    height: 40em;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 6px 0px 0px 0px
}

.chatbot-wrapper {
    position: fixed;
    right: 1.5em;
    bottom: 10em;
    border-radius: 5px;
    display: none;
    transition: all 0.4s;
    z-index: 0;
}

#chatbot-check:checked~.chatbot-wrapper {
    display: block;
    z-index: 10;
}

.header {
    padding: 13px;
    background-color: blue;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    color: #fff
}

#chatbot-check {
    display: none !important
}

.chatbot-image-block {
    border-radius: 8px
}
